@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,600&display=swap');

:root {
	--generalfont: 'Source Sans Pro', sans-serif;
	--white: #E9EBF8;
	--black: black;
	--fontcolw: #FEFFFE;
	--bkg: #28242E;
	--bkgborder: #50485B;
	--bittered: #28242E;
	--yellored: #FABC3C;
	--slateblu:  #735CDD;
	--colblu: #2584BB;
	--greeny: #00CC66;
	--rose: #D90368;
	--cardshad: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.46) 0px 1px 2px 0px;
	--othershad: rgba(0, 0, 0, 0.36) 0px 1px 4px;
	--cardtitle: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
	--titleshad: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
	margin: 0px;
	font-family: var(--generalfont);
	background-color: var(--bittered);
	color: var(--yellored);
}

header {
	display: flex;
	background-color: var(--bkg);
	justify-content: flex-end;
}

header a{
	margin-left: 2vh;
	color: var(--rose);
	margin-left: 8vh;
}

a {
	text-decoration: none;
	border-radius: 4vh;
	padding: 0.8vh;
	color: var(--rose);
	box-shadow: var(--cardshad);
}

input {
	text-decoration: none;
	background-color: var(--slateblu);
	border-radius: 4vh;
	padding: 0.8vh;
	color: var(--white);
	border: none;
	cursor: pointer;
	font-family: var(--generalfont);
	box-shadow: var(--cardshad);
	line-height: 0.8em;
}
input:hover {
	background-color: var(--colblu);
	font-family: var(--generalfont);
	box-shadow: var(--othershad);
	color: white;
}

a:hover {
	background-color: var(--colblu);
	color: var(--white);
	transition: 0.3s;
}

h1 {
	color: var(--white);
	text-shadow: var(--titleshad);
	padding: 2vh;
}

h2 {
	font-size: 1em;
	line-height: 0.4em;
}

#today {
	background-color: var(--rose);
	color: var(--white);
	box-shadow: var(--othershad);
	border-radius: 3vh;
	padding: 0.6vh;
}
#plantable td {
	margin-left: 1vh;
	padding: 0.2vh;
	width: 23vh;
	height: 6vh;
		max-width: 23vh;
		max-height: 100%;
	font-size: 1.1em;
	line-height: 0.6em;
	box-shadow: var(--othershad);
}
#plantable td:hover {
	padding: 0.5vh;
	width: 23vh;
	height: 6vh;
	font-size: 1.2em;
	background-color: var(--white);
	color: var(--bittered);
	line-height: 0.6em;
	transition: 0.5s;
	box-shadow: var(--othershad);
}
#plantable th {
	text-align: justify;
	background-color: #28242E;
	height: 1vh;
	color: var(--fontcolw);
}
#plantable {
	text-align: justify;
	border: none;
}

#plantable h2 {
	padding: 0.5vh;
}

.plantabletitles {
	font-size: 0.7em;
	padding: 0.2vh;
}
#plantabletitles1 {
	font-size: 1em;
}

#plantable th {
	padding: 3vh;
}

#bkgtable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bkg);
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.subid{
	font-size: 1em;
	border: none;
	color: var(--white);
	background-color: var(--rose);
}

#planningtitles{
	display: flex;
	width: 100%;
	max-width: 100%;
}
#planningtitles input{
	margin-top: 3vh;
	margin-left: 4vh;
}

#planningtitles h1{
	margin-left: 18vh;
}
#planningtitles h4{
	margin-left: 6vh;
}

#searchdate:hover {
	background-color: var(--rose);
	color: white;
	transition: 0.4s;
}


/* PAGE RESERVATION */

#reserdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: var(--cardshad);
	max-width: 100%;
		padding: 3vh;
}

#reserdiv table {
	padding: 3vh;
}

.idreserve{
	background-color: var(--slateblu);
	color: var(--white);
	border-radius: 3vh;
	box-shadow: var(--cardshad);
	padding: 0.6vh;
}

/* INSCRIPTION */

.inscform {
	max-width: 100%;
	padding: 3vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	color: var(--white);
	max-height: 80%;

}
.inscform h1{
	color: var(--colblu);

}

.maininsc {
	border-radius: 1vh;
	padding: 3vh;
	display: flex;
	flex-direction: column;
	align-items:  center;
}